<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Hello i m momo</h1>
	<h1>cas : utilisation de ${}</h1>
	<div th:if="${ produit!=null}">
		<!-- 		<h1>Detail du produit [[${produit.id}]]</h1> -->
		<!-- 		<h1 th:text="'Detail du produit ' + ${produit.id}"></h1> -->
		<h1 th:text="|Detail du produit ${produit.id}|"></h1>
		<ul>
			<li>Id : [[${produit.id}]]</li>
			<li>Nom [[${produit.nom}]]</li>
			<li>Description : [[${produit.description}]]</li>
			<li>Poid : [[${produit.poid}]]</li>
			<li>DateFabrication : [[${produit.dateFabrication}]]</li>
		</ul>
	</div>
	<h1>cas : utilisation de *{}</h1>
	<div th:if="${ produit!=null}" th:object="${produit}">
		<!-- 		<h1>Detail du produit [[${produit.id}]]</h1> -->
		<!-- 		<h1 th:text="'Detail du produit ' + ${produit.id}"></h1> -->
		<h1 th:text="|Detail du produit *{id}|"></h1>
		<ul>
			<li>Id : [[*{id}]]</li>
			<li>Nom [[*{nom}]]</li>
			<li>Description : [[*{description}]]</li>
			<li>Poid : [[*{poid}]]</li>
			<li>DateFabrication : [[*{dateFabrication}]]</li>
		</ul>
		<div>
			<img th:src="@{*{url}}" />
		</div>
	</div>



	<a th:href="@{/liste_produits}">Retour</a>
</body>
</html>