<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Hello i m momo</h1>
	<h1 th:if="${produit}!=null">Modification du produit
		[[${produit.id}]]</h1>
	<h1 th:unless="${produit}!=null">Produit introuvable !!!</h1>
	<form th:if="${produit" th:action="@{/produits/new2}" method="POST">
		<ul>
		
			<li><input name="id" placeholder="Id"
				th:value="${produit}!=null?${produit.id}:''" readonly
				disabled="disabled" /></li>
			<li><input name="nom" placeholder="Nom"
				th:value="${produit}!=null?${produit.nom}:''" /></li>
			<li><input name="description" placeholder="Description"
				th:value="${produit}!=null?${produit.description}:''" /></li>
			<li><input name="poid" placeholder="Poid"
				th:value="${produit}!=null?${produit.poid}:''" /></li>
			<li><input name="dateFabrication" placeholder="DateFabrication"
				th:value="${produit}!=null?${produit.dateFabrication}:''" /></li>
		</ul>
		<button>Modifier</button>
	</form>
	<a th:href="@{/liste_produits}">Retour</a>
</body>
</html>