<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="1" th:insert="/includes/entete_fragement :: entete"></div>
	
	<div class="1" th:replace="/includes/entete_fragement :: entete"></div>
	
	<h1>Site E-commerce : [[#{home.welcome}]]</h1>
	<p>Bienvenue dans notre site</p>
	<ul>
		<li><a th:href="@{/produits}">Liste des produit</a></li>
		<li><a th:href="@{/produits/new}">Ajouter un nouveau produit</a></li>
		<li><a th:href="@{/produits/new2}">Ajouter un nouveau produit avec un objet</a></li>
		<li><a th:href="@{/produits/new3}">Ajouter un nouveau produit avec image</a></li>
	</ul>
</body>
</html>