<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1>Hello i m momo</h1>


	<h1>List de produits</h1>
	<table>
		<tr>
			<th>id</th>
			<th>nom</th>
			<th>description</th>
			<th>poid</th>
			<th>dateFabrication</th>
		</tr>
	    <tr th:each="p : ${produits}">
<!-- 	    .../produits/detail?id=val -->
			<td><a th:href="@{/produits/detail(id=${p.id})}"> [[${p.id}]] </a></td>
			<!-- 	    .../produits/detail/{id} -->
			<td><a th:href="@{/produits/detail/{id}(id=${p.id})}">[[${p.nom}]] </a></td>
			<td> [[${p.description}]]</td>
			<td> [[${p.poid}]]</td>
			<td th:text="${p.dateFabrication}"></td>
		</tr>
	
	</table>
</body>
</html>


