<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>Login</h1>
	<form th:action="@{/profil/login}" method="POST">
		<ul>
			<li th:if="${messageErreur}"><div style="color: red">
					[[${messageErreur}]]</div></li>
			<li><input name="login" type="email" placeholder="Login" /></li>
			<li><input name="password" type="password" /></li>
			<li><button>Se connecter</button></li>
		</ul>
		<a th:href="@{/liste_produits}">Retour</a>
		<button>Créer</button>
	</form>
</body>
</html>