<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>Nouveau Produit</h1>
	<form th:action="@{/produits/new}" method="POST">
		<ul>

			<li><input name="nom" placeholder="Nom" /></li>
			<li><input name="description" placeholder="Description" /></li>
			<li><input name="poid" type="number" placeholder="Poid" /></li>
			<li><input name="dateFabrication" type="date"
				placeholder="DateFabrication" /></li>
		</ul>
		<a th:href="@{/liste_produits}">Retour</a>
		<button>Créer</button>
	</form>
</body>
</html>