<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>Nouveau utilisateur</h1>
	<form th:action="@{/profil/inscription}" method="POST"
		enctype="multipart/form-data">
		<ul>

			<li><input name="nom" placeholder="Nom" /></li>
			<li><input name="prenom" placeholder="Prenom" /></li>
			<li><input name="dateNaissance" type="date" /></li>
			<li><input name="email" type="email" placeholder="Email" /></li>
			<li><input name="password" type="password" placeholder="" /></li>
			<li><input name="ligne1" type="text" placeholder="Ligne1" /></li>
			<li><input name="complement" type="text"
				placeholder="Complement" /></li>
			<li><input name="codePostal" type="number"
				placeholder="Code Postal" /></li>
			<li><input name="fix" type="tel" placeholder="Téléphone Fix" /></li>
			<li><input name="portable" type="tel"
				placeholder="Téléphone Portable" /></li>
			<li><input name="file_image" type="file" placeholder="image" /></li>



		</ul>
		<a th:href="@{/liste_produits}">Retour</a>
		<button>Créer</button>
	</form>
</body>
</html>