<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Bonjour [[${session.connectedUser.nom}]] -
		[[${session.connectedUser.prenom}]]</h1>
	<div>
		<ul>
			<li>Id : [[${session.connectedUser.id}]]</li>
			<li>Nom [[${session.connectedUser.nom}]]</li>
			<li>Prenom : [[${session.connectedUser.prenom}]]</li>
			<li>Date de Naissance : [[${session.connectedUser.dateNaissance}]]</li>
			<li>Email : [[${session.connectedUser.email}]]</li>
			<li>Password : [[${session.connectedUser.password}]]</li>
			<li>Ligne1 : [[${session.connectedUser.infosContact.ligne1}]]</li>
			<li>Complement : [[${session.connectedUser.infosContact.complement}]]</li>
			<li>Code Postal : [[${session.connectedUser.infosContact.codePostal}]]</li>
			<li>Fix : [[${session.connectedUser.infosContact.fix}]]</li>
			<li>Portable : [[${session.connectedUser.infosContact.portable}]]</li>
            
		</ul>
		 <div><img th:src="@{${session.connectedUser.url}}"/></div>
	</div>

	<a th:href="@{/liste_produits}">Retour</a>
</body>
</html>