form.form-example {
    display: table;
    text-decoration: none;
}

div.form-example {
    display: table-row;
    text-decoration: none;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 5px;
    text-decoration: none;
}

img{
	width: 100%;
	height: 150px;
}
ul{
	list-style: none;
	display: inline-block;
}
nav ul{
	list-style: none;
	display: inline-flex;
	text-decoration: none;
	margin: 20px;
	
}
ul li{
	margin: 10px 110px;
}