/* body{ */
/*     background-color: white; */
/* } */
div.form-example {
	display: table-row;
	text-decoration: none;
}

label, input {
	display: table-cell;
	margin-bottom: 10px;
}

label {
	padding-right: 5px;
	text-decoration: none;
}

img {
	width: 100%;
	height: 150px;
}

ul {
	list-style: none;
	display: inline-block;
}

nav ul {
	list-style: none;
	display: inline-flex;
	text-decoration: none;
	margin: 20px;
}

ul li {
	margin: 10px 110px;
}

#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#customers td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

#customers tr:nth-child(even) {
	background-color: #f2f2f2;
}

#customers tr:hover {
	/* 	background-color: #ddd; */
	background-color: orangered;
}

#customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	/*  background-color: #4CAF50; */
	background-color: #27ae61;
	color: white;
}

img.tools {
	height: 20px;
	width: 20px;
}

input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

div.containt {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

section.detailProduit {
	margin-bottom: 20px;
	margin-left: 30%;
}

a:link, header a:visited {
	text-decoration: none;
	color: white;
}

a:link, a:visited {
	text-decoration: none;
	color: black;
}

ul li#buttonAjoute:hover {
	display: inline-block;
	padding: 16px;
	background-color: orangered;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 25px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}

.button:hover {
	background-color: green;
}

div.divAide {
	
}

