
footer {
	 text-align: center; 
    background-color: #141414;
    height: 60px;
	position: absolute; 
	 color:#999999; 
	bottom: 0;
	 left: 0; 
	 right: 0
	 }
footer #mentionEtCondition li:hover{
    text-decoration: underline;
    cursor: pointer;
}

footer ul, footer li{
    display: inline-block;
}



footer ul#footerReseau{
    position:absolute;
    right: 0;
}

footer ul li{
    margin : 30px 10px;
}


