header{
    background-color: #141414;
    height: 150px;
    
    margin-right: auto;
    position: relative;
    margin-left:auto; 
    color : white;
    user-select: none; 
    cursor: pointer;
    
}

/*------------------------------HEADER----------------------------------------------*/
header a:link, header a:visited{
    text-decoration: none;
    color : white;
}


header span{
    display: inline-block;
}




header span li{
    display: inline-block;
    padding: 10px;
    height: 100%;

}

header ul#menu2 li{

display: inline-block;
padding: 16px;

}


header ul#menu2 li:hover{

    display: inline-block;
    padding: 16px;
    background-color: orangered;
    
    }

header ul#menu2 li a:link {
text-decoration: none;
color : white;

}
header ul#menu2 li a:visited  {
    text-decoration: none;
    color : white;
}

header #miniMenu #panier span{
    color : gold;
}


header ul#menu2 li a:hover {
    text-decoration: none;
    color : white;


}
header ul#menu2 li a:active {
    text-decoration: none;
    color : white;


}

header ul#menu2{
    position: relative;
    background: #141414;
    top:30px;

    border-top: 1px solid #747474;

}



header #flags img{
    height: 20px;
    position: relative;
    top: 5px; }

header span#logo{
    position: relative;
    top:20px;
    font-size: 40px;
    margin: -3px 32px 23px 69px;
}

header span#logo p{
  display: inline;
}
header span#logo p#slogan{

font-size: 12px;
}



header span#miniMenu{
    position : absolute;
    right: 0;
    top:25px;


    
 }

 
header span#miniMenu li:hover{
    background-color: orangered;

    
 }


 header input:focus {
    color: white;
}

